/* start "EMPLOYEE TABLE" */
div.theading {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
div.theading button,
div.theading h1 {
  margin: 9px 6px;
}

.employeeTable thead tr th {
  padding-left: 1rem;
}
.employeeTable tbody tr td {
  line-height: 0;
  opacity: 0;
  padding: 0 0 0 15px !important;
  overflow: hidden;
  /* border-top: 0; */
}
/* .employeeTable tbody tr {
  transition: left 5s linear;
} */
.employeeTable tbody tr:hover {
  box-shadow: -5px -5px 20px #fff, 3px 3px 6px #848484;
  background: none !important;
}

.employeeTable .table td,
.employeeTable .table th {
  padding: 0.75rem 15px !important;
}
.employeeTable tbody tr td button {
  height: 30px;
  padding: 0px 17px;
  margin: 0;
  vertical-align: middle;
  line-height: 30px;
}
/* end "EMPLOYEE TABLE" */

/* start extra css for modal */
.employeeModal .modal-content {
  border-radius: 15px;
}
.employeeModal .modal-content form {
  margin: auto;
}
.employeeModal .modal-content form .buttons {
  float: right;
}
.headModalClose {
  margin: auto 0;
  font-size: 26px;
  opacity: 0.5;
}
.headModalClose:hover {
  opacity: 1;
}
/* start select tag css */
.select-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.select-box .options-container {
  color: #727275;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  overflow: hidden;
  position: absolute;
  z-index: 1000;
  top: 45px;
  background-color: #fff;

  order: 1;
}
.select-box .option {
  border-radius: 320px;
  padding: 4px 28px !important;
  background: #2f3640;
  margin-bottom: 6px;
}
.select-box .option:active {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

.selected {
  border-radius: 320px;
  margin-bottom: 6px;
  /* color: #727275; */
  position: relative;
  background-color: #ebecf0;
  text-shadow: 1px 1px 0 #fff;
  box-shadow: -5px -5px 20px #fff, 3px 3px 6px #848484;

  order: 0;
}
.selected:active {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

.selected i {
  position: absolute;
  right: 18px;
  top: 35%;
}

.select-box .options-container.active {
  max-height: 151px;
  opacity: 1;
  overflow-y: auto;
  padding: 0 10px;
}

.select-box .options-container.active + .selected i {
  transform: rotateX(180deg);
}

.select-box .options-container::-webkit-scrollbar {
  width: 20px;
  background: #ebecf0;
  border-radius: 0 22px 22px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: #aaaaaa;
  border-radius: 0 22px 22px 0;
}

.select-box .option,
.selected {
  padding: 10px 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: #ebecf0;
  text-shadow: 1px 1px 0 #fff;
  box-shadow: -5px -5px 20px #fff, 3px 3px 6px #848484;
}

.select-box .option:hover {
  background: #f7f7f7;
}

.select-box label {
  cursor: pointer;
  margin: 0 auto;
}

.select-box .option .radio {
  display: none;
}
/* end select tag css */
/* end extra css for modal */

/* start view modal css */
#recordViewModal .modal-body form label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  margin-left: 15px;
}
/* end view modal css */
