<%- include(__global.default_header) %>

<div class="theading">
  <h1><%= title %></h1>
  <button class="text-primary">
    <i class="fas fa-plus-square"></i> Insert New Record
  </button>
</div>
<table class="table table-hover employeeTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email-ID</th>
      <th>E-Type</th>
      <th>Hourly Rate</th>
      <th>Total Hour</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

<!-- Modal Start -->

<div
  class="modal fade employeeModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text_color"></h5>
        <i
          class="headModalClose text-secondary fas fa-times-circle"
          data-dismiss="modal"
        ></i>
      </div>
      <div class="modal-body">
        <form>
          <label>
            <input type="text" name="name" id="name" placeholder="Name" />
          </label>
          <label>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Email Address"
            />
          </label>
          <div class="select-box">
            <div class="options-container">
              <div class="option">
                <input
                  type="radio"
                  class="radio"
                  id="automobiles"
                  name="category"
                />
                <label for="automobiles">Automobiles</label>
              </div>

              <div class="option">
                <input type="radio" class="radio" id="film" name="category" />
                <label for="film">Film & Animation</label>
              </div>

              <div class="option">
                <input
                  type="radio"
                  class="radio"
                  id="science"
                  name="category"
                />
                <label for="science">Science & Technology</label>
              </div>

              <div class="option">
                <input type="radio" class="radio" id="art" name="category" />
                <label for="art">Art</label>
              </div>

              <div class="option">
                <input type="radio" class="radio" id="music" name="category" />
                <label for="music">Music</label>
              </div>

              <div class="option">
                <input type="radio" class="radio" id="travel" name="category" />
                <label for="travel">Travel & Events</label>
              </div>

              <div class="option">
                <input type="radio" class="radio" id="sports" name="category" />
                <label for="sports">Sports</label>
              </div>

              <div class="option">
                <input type="radio" class="radio" id="news" name="category" />
                <label for="news">News & Politics</label>
              </div>

              <div class="option">
                <input
                  type="radio"
                  class="radio"
                  id="tutorials"
                  name="category"
                />
                <label for="tutorials">Tutorials</label>
              </div>
            </div>

            <div class="selected">
              Select Video Category <i class="fas fa-chevron-down"></i>
            </div>
          </div>
          <label>
            <input
              type="number"
              name="hourlyRate"
              id="hourlyRate"
              placeholder="Hourly Rate"
            />
          </label>
          <label>
            <input
              type="number"
              name="total_hour"
              id="total_hour"
              placeholder="Total Hour"
            />
          </label>
          <label>
            <input type="number" name="total" id="total" placeholder="Total" />
          </label>
          <hr />
          <div class="buttons">
            <button class="text-secondary" data-dismiss="modal" type="button">
              <i class="fas fa-window-close"></i> Close
            </button>
            <button class="text-primary" type="button">
              <i class="fas fa-plus-square"></i> Insert Record
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal End -->

<%- include(__global.default_footer) %>
