<%- include(__global.default_header) %>

<div class="theading">
  <h1 class="text-primary"><%= title %></h1>
  <button class="text-primary">
    <i class="fas fa-plus-square"></i> Insert New Record
  </button>
</div>
<table class="table table-hover employeeTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email-ID</th>
      <th>E-Type</th>
      <th>Hourly Rate</th>
      <th>Total Hour</th>
      <th>Total</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

<!-- Modal Start -->

<div
  class="modal fade employeeModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text_color"></h5>
        <i
          class="headModalClose text-secondary fas fa-times-circle"
          data-dismiss="modal"
        ></i>
      </div>
      <div class="modal-body">
        <form autocomplete="off">
          <label>
            <input type="text" name="name" id="name" placeholder="Name" />
            <i
              class="fas fa-exclamation-circle text-danger form_error"
              id="name_err"
              data-container="body"
              data-placement="left"
            ></i>
          </label>
          <label>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Email Address"
            /><i
              class="fas fa-exclamation-circle text-danger form_error"
              id="email_err"
              data-container="body"
              data-placement="left"
            ></i>
          </label>
          <div class="select-box">
            <div class="options-container">
              <div class="option">
                <input
                  type="radio"
                  class="radio"
                  id="hourly"
                  name="etype"
                  value="hourly"
                />
                <label for="hourly">HOURLY</label>
              </div>
              <div class="option">
                <input
                  type="radio"
                  class="radio"
                  id="daily"
                  name="etype"
                  value="daily"
                />
                <label for="daily">DAILY</label>
              </div>
              <div class="option">
                <input
                  type="radio"
                  class="radio"
                  id="weekly"
                  name="etype"
                  value="weekly"
                />
                <label for="weekly">WEEKLY</label>
              </div>
            </div>

            <div class="selected">
              Select Employee Type
              <i class="fas fa-chevron-down down_arrow_select"></i>
              <i
                class="fas fa-exclamation-circle text-danger form_error"
                id="etype_err"
                data-container="body"
                data-placement="left"
              ></i>
            </div>
          </div>
          <label>
            <input
              type="text"
              name="hourlyRate"
              id="hourlyRate"
              placeholder="Hourly Rate"
            /><i
              class="fas fa-exclamation-circle text-danger form_error"
              id="hourlyRate_err"
              data-container="body"
              data-placement="left"
            ></i>
          </label>
          <label>
            <input
              type="text"
              name="totalHour"
              id="totalHour"
              placeholder="Total Hour"
            /><i
              class="fas fa-exclamation-circle text-danger form_error"
              id="totalHour_err"
              data-container="body"
              data-placement="left"
            ></i>
          </label>
          <label>
            <input
              type="text"
              name="total"
              id="total"
              placeholder="Total"
              disabled
            />
          </label>
          <hr />
          <div class="buttons">
            <button class="text-secondary" data-dismiss="modal" type="button">
              <i class="fas fa-window-close"></i> Close
            </button>
            <button class="text-primary submit_button" type="submit"></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal End -->

<!-- start view modal -->
<div
  class="modal fade"
  id="recordViewModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="recordViewLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="recordViewLabel"></h5>
        <i
          class="headModalClose text-secondary fas fa-times-circle"
          data-dismiss="modal"
        ></i>
      </div>
      <div class="modal-body">
        <form class="p-0">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="name">Name</label>
              <input type="text" class="" id="name" readonly />
            </div>
            <div class="form-group col-md-6">
              <label for="email">Email address</label>
              <input type="email" class="" id="email" readonly />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="etype">Employee Type</label>
              <input type="text" class="" id="etype" readonly />
            </div>
            <div class="form-group col-md-6">
              <label for="hourlyRate">Hourly Rate</label>
              <input type="text" class="" id="hourlyRate" readonly />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="totalHour">Total Hour</label>
              <input type="text" class="" id="totalHour" readonly />
            </div>
            <div class="form-group col-md-6">
              <label for="total">Total</label>
              <input type="text" class="" id="total" readonly />
            </div>
          </div>
          <hr />
          <div class="buttons">
            <button
              class="float-right text-secondary"
              data-dismiss="modal"
              type="button"
            >
              <i class="fas fa-window-close"></i> Close
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- end view modal -->

<!-- start custom popup -->
<div id="popup_main">
  <div id="popup">
    <h1>Subscribe to our Newslater.</h1>
  </div>
</div>
<!-- end custom popup -->

<%- include(__global.default_footer) %>
