<%- include(__global.default_header) %>
<form>
  <div class="segment">
    <h1>Sign up</h1>
  </div>

  <label>
    <input type="text" placeholder="Email Address" />
  </label>
  <label>
    <input type="password" placeholder="Password" />
  </label>
  <button class="red" type="button">
    <!-- <i class="icon ion-md-lock"></i> -->
    <i class="fas fa-sign-in-alt"></i> Log in
  </button>

  <div class="segment">
    <button class="unit" type="button">
      <i class="fas fa-arrow-left"></i>
    </button>
    <button class="unit" type="button">
      <i class="fab fa-font-awesome"></i>
    </button>
    <button class="unit" type="button">
      <i class="fas fa-cog"></i>
    </button>
  </div>

  <div class="input-group">
    <label>
      <input type="text" placeholder="Email Address" />
    </label>
    <button class="unit" type="button">
      <i class="fas fa-search"></i>
    </button>
  </div>
</form>
<%- include(__global.default_footer) %>
