body,
html {
  background-color: #ebecf0;
}

body,
p,
input,
select,
textarea,
button,
tr {
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.2px;
  font-size: 16px;
}

.text_color {
  color: #8b8e99;
  text-shadow: 1px 1px 1px #fff;
}

form {
  padding: 16px;
  margin: 0 auto;
}

.segment {
  padding: 32px 0;
  text-align: center;
}

button,
input,
tr {
  border: 0;
  outline: 0 !important;
  font-size: 16px;
  border-radius: 320px;
  padding: 10px 16px;
  background-color: #ebecf0 !important;
  text-shadow: 1px 1px 0 #fff;
}

.employeeModal .modal-body form > label {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  position: relative;
}
.employeeModal .modal-body form .form_error {
  position: absolute;
  top: 10px;
  right: 11px;
  font-size: 25px;
  cursor: pointer;
  display: none;
}
.tooltip > .tooltip-inner {
  border-radius: 25px;
  padding: 4px 15px;
  border: 2px solid red;
  background: white;
  color: #dd6767;
  font-weight: bold;
}
.tooltip > .tooltip-arrow {
  border-left-color: red;
}

input,
tr {
  margin-right: 8px;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}
input:focus {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

button {
  color: #61677c;
  font-weight: bold;
  box-shadow: -5px -5px 20px #fff, 3px 3px 6px #848484;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}
button:hover {
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #848484;
}
button:active {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}
button .icon {
  margin-right: 8px;
}
button.unit {
  border-radius: 8px;
  line-height: 0;
  width: 48px;
  height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
  font-size: 19.2px;
}
button.unit .icon {
  margin-right: 0;
}
/* button.red {
  display: block;
  width: 100%;
  color: #ae1100;
} */

.input-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.input-group label {
  margin: 0;
  flex: 1;
}

.buttons .submit_button {
  width: 150px;
  white-space: nowrap;
}

.buttons .submit_button img {
  width: 80px;
}

/* start custom popup css */
#popup_main {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1001;
}
#popup {
  width: 500px;
  height: 250px;
  /* background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),  url('image1.jpg'); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 3px 3px 10px 2px white;
  text-align: center;
}
/* end custom popup css */
